<html>
<head>
	<meta charset='utf-8' />
	<title>Household Debt and Related Measures</title>
	<script src="../lib/d3.v5.min.js"></script>
	<script src="../lib/topojson.v2.min.js"></script>
	<script src="../lib/d3-scale-chromatic.v1.min.js"></script>
	<script src="../lib/d3-simple-slider.min.js"></script>
	<script src="../lib/d3-tip.min.js"></script>
	<style>
	.states path {
  stroke: #000;
  stroke-linejoin: round;
}
		
	
		
	</style>
</head>
<body>
<script>


	
	var margin = {top: 50, right: 50, bottom: 100, left: 75};
	var width = 1024 - margin.left - margin.right,
    height = 700 - margin.top - margin.bottom;
	
	
	
	

	
	var dateParse = d3.timeParse("%m/%d/%Y");
	var yearParse = d3.timeParse("%Y");
	
	var debtParse = function(d) {
		d.Date = dateParse(d.Date);
		d.HHDebt = parseFloat(d.HHDebt);
		return d;
		
	}
	
	var cmdebtParse = function(d) {
		d.DATE =  dateParse(d.DATE);
		d.CMDEBT = parseFloat(d.CMDEBT)/1000;
		return d;
	}
	

 
 var debtgdpParse = function(d) {
	 d.DATE = dateParse(d.DATE);
	 d.debt_to_gdp = parseFloat(d.debt_to_gdp)/100;
	 return d;
 }
 
 var debtIncParse = function(d) {
	 d.Year = yearParse(d.Year);
	 d.debt_to_inc = parseFloat(d.debt_to_inc)/100;
	 return d;
 } 
	
	

	var promises = [d3.csv('data/hh_debt_trillions.csv',debtParse),d3.csv("data/CMDEBT.csv",cmdebtParse),
				   d3.csv('data/HDTGPDUSQ163N.csv',debtgdpParse),d3.csv('data/debt_to_inc_oecd.csv',debtIncParse)];

	
	Promise.all(promises).then(function([hh_debt,cm_debt,debt_gdp,debt_inc]) {

		
		cm_debt = cm_debt.filter(d=>!isNaN(d.CMDEBT));
		
		var base = d3.select("body").insert("svg",".description")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom);
		
		var svg = base.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");


		
	var xScale,yScale,y2Scale;
		
		xScale = d3.scaleTime().domain([d3.min(debt_inc,d=>d.Year),d3.max(hh_debt,d=>d.Date)]).range([0,width]);
		yScale = d3.scaleLinear().domain([0,d3.max(cm_debt,d=>d.CMDEBT)]).range([height,0]);
		
		y2Scale = d3.scaleLinear().domain([d3.min(debt_gdp,d=>d.debt_to_gdp),d3.max(debt_inc,d=>d.debt_to_inc)]).range([height,0]);
		
		var line = d3.line()
		.x(function(d, i) { return xScale(d.Date); }) // set the x values for the line generator
		.y(function(d) { return yScale(d.HHDebt); }) // set the y values for the line generator 
		.curve(d3.curveMonotoneX) // apply smoothing to the line
		
		var line_cm =  d3.line()
		.x(function(d, i) { return xScale(d.DATE); }) // set the x values for the line generator
		.y(function(d) { return yScale(d.CMDEBT); }) // set the y values for the line generator 
		.curve(d3.curveMonotoneX) // apply smoothing to the line
		
			
				var line_debt_gdp =  d3.line()
		.x(function(d, i) { return xScale(d.DATE); }) // set the x values for the line generator
		.y(function(d) { return y2Scale(d.debt_to_gdp); }) // set the y values for the line generator 
		.curve(d3.curveMonotoneX) // apply smoothing to the line
				
					var line_debt_inc =  d3.line()
		.x(function(d, i) { return xScale(d.Year); }) // set the x values for the line generator
		.y(function(d) { return y2Scale(d.debt_to_inc); }) // set the y values for the line generator 
		.curve(d3.curveMonotoneX) // apply smoothing to the line
		
		svg.append("path")
		.attr("class","line")
		.attr("stroke","black")
		.attr("fill","none")
		.datum(hh_debt) // 10. Binds data to the line 
		.attr("d", line); // 11. Calls the line generator
		
				var last_hhdebt = hh_debt[hh_debt.length-1];
		
		svg.append("text")
		.attr("x",xScale(last_hhdebt.Date)-10)
		.attr("y",yScale(last_hhdebt.HHDebt)+5)
		.attr("stroke","black")
		.attr("font-size","10pt")
		.attr("text-anchor","end")
		.text("Household Debt")
		
			/*	svg.append("path")
		.attr("class","line")
		.attr("stroke","black")
		.attr("fill","none")
		.datum(cm_debt) // 10. Binds data to the line 
		.attr("d", line_cm); // 11. Calls the line generator 
		*/

		
								svg.append("path")
		.attr("class","line")
		.attr("stroke","blue")
		.attr("fill","none")
		.datum(debt_gdp) // 10. Binds data to the line 
		.attr("d", line_debt_gdp); // 11. Calls the line generator 
		
		var last_debt_gdp = debt_gdp[debt_gdp.length-1];
		
		svg.append("text")
		.attr("x",xScale(last_debt_gdp.DATE))
		.attr("y",y2Scale(last_debt_gdp.debt_to_gdp)-20)
		.attr("stroke","blue")
		.attr("font-size","10pt")
		.attr("text-anchor","end")
		.text("Debt to GDP")
		
									svg.append("path")
		.attr("class","line")
		.attr("stroke","blue")
		.attr("fill","none")
		.datum(debt_inc) // 10. Binds data to the line 
		.attr("d", line_debt_inc); // 11. Calls the line generator 
		
			var last_debt_inc = debt_inc[debt_inc.length-1];
		
		svg.append("text")
		.attr("x",xScale(last_debt_inc.Year)-10)
		.attr("y",y2Scale(last_debt_inc.debt_to_inc)+5)
		.attr("stroke","blue")
		.attr("font-size","10pt")
		.attr("text-anchor","end")
		.text("Debt to Income")
		
		svg.append("g").call(d3.axisLeft(yScale));
	svg.append("g")
		.attr("transform", "translate(0," + height + ")")
		.call(d3.axisBottom(xScale));
		
		svg.append("g")
		.attr("transform",`translate(${width},0)`)
		.attr("stroke","blue")
		.call(d3.axisRight(y2Scale).ticks(8));
		
		svg.append("text")
		.attr("x",5)
		.text("$(Trillions)")
		
	/*	svg.append("text")
		.attr("font-size","14pt")
		.attr("text-anchor","middle")
		.attr("x",width/2)
		.attr("y",0)
		.text("Debt Metrics in Trillions of $"); */

		
	
	
		
		
	});
	
	
		
	



</script>
</body>
</html>