<html>
<head>
	<meta charset='utf-8' />
	<title>Student Loans</title>
	<script src="../lib/d3.v5.min.js"></script>
	<script src="../lib/topojson.v2.min.js"></script>
	<script src="../lib/d3-scale-chromatic.v1.min.js"></script>
	<script src="../lib/d3-simple-slider.min.js"></script>
	<script src="../lib/d3-tip.min.js"></script>
	<link rel='stylesheet' href='../../../css/styles.css'>
	<style>
		
		.tip {
			background-color: aliceblue;
			padding: 1px;
			color: #000;
			border-radius: 5px;
		}
		
	</style>
</head>
<body>
	<div class="description">Use the scroll wheel to change the data.</div>
<!-- Use scroll wheel to change maps. -->
<script>


	
	var margin = {top: 20, right: 100, bottom: 30, left: 200};
	var width = 700 - margin.left - margin.right,
    height = 600 - margin.top - margin.bottom;
	
	
	
	var projection = d3.geoAlbers()
    .center([0, 36])
    .rotate([96, 0])
    .parallels([45.5,29.5])
    .scale(750)
    .translate([width/2,height/2]);
	
		var path = d3.geoPath().projection(projection);
	
	var base = d3.select("body").insert("svg",".description")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
	.attr("fill","white").attr("color","white").attr("xmlns","http://www.w3.org/2000/svg");
	
 	
	base.append('rect').attr('width','100%').attr('height','100%').attr('fill','#1a2035');
	
	base.append("style").html(".states path { \
  stroke: #000; \
  stroke-linejoin: round; \
}");
	
	var svg = base.append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
	
		
	
	var eqMap = {};
	
	var rowConvert = function(d) {
		dNew = {};
		for(var x in d) {
			var val = d[x].trim();
			if(x.trim()!="state")
				val = parseInt(val);
			dNew[x.trim()] = val;
		}
		eqMap[dNew.state] = dNew;
		return dNew;
	}
	
	var eqMap2 = {};
	var rowConvert2 = function(d) {
				dNew = {};
		for(var x in d) {
			var val = d[x].trim();
			if(x.trim()!="state")
				val = parseFloat(val);
			dNew[x.trim()] = val;
		}
		eqMap2[dNew.state] = dNew;
		return dNew;
	}
	
	var stateMap = {}
	var stateMapper = function(d) {
		stateMap[d.stname] = d.stusps;
		return d;
	}

	var promises = [d3.json("states-10m.json"),d3.csv('student_loans.csv',rowConvert),d3.csv('student_loan_delinq.csv',rowConvert2),d3.csv('state_fips.csv',stateMapper)];
	
	Promise.all(promises).then(function([us,loans,loans_delinq,states]) {
	
		

			
			var buckets = 5;
		
		loans = loans.filter(d=>d.state!="DC");
		
		var scaleLoans = d3.scaleLog()
						.domain(d3.extent(loans,d=>d["Q4_2019"])).range([0,buckets-1])
		
		var hues = d3.schemeBlues[buckets];

		var m = topojson.feature(us,us.objects.states).features;
		m = m.filter(d=>eqMap[stateMap[d.properties.name]]!=null);
	
			

							var renderTip = function(d) {
				d = eqMap[stateMap[d.properties.name]];
		return `State: ${d.state}<br/>Stu. Debt pp: $${d['Q4_2019']}`;
	}
	
	var tip = d3.tip().attr("class","tip").html(renderTip);
		

      var states = svg.append("g")
      .attr("class", "states")
		.attr("id","states");
	  
	states.selectAll("path")
      .data(m).enter()
	  .append("path")
	  .attr("fill",d=>{
		  var q = eqMap[stateMap[d.properties.name]];
		  return hues[Math.floor(scaleLoans(q["Q4_2019"]))];
					  })
	  .attr("class",d=>d.properties.name)
	  .attr("d",path)
	  .call(tip)
	  .on('mouseover',tip.show)
	  .on('mouseout',tip.hide);
		
		var legend = states.append("g").attr("transform",`translate(${width/2},${height-150})`);
		for(var i = 0;i<buckets;i++) {
			legend.append("rect").attr("x",i*50).attr("y",50).attr("width",50).attr("height",10)
			.style("fill",hues[i]);
			legend.append("text").attr("x",i*50).attr("y",70).attr("font-size","10pt").attr("text-anchor","middle")
			.text((i==0?"$":"")+scaleLoans.invert(i).toFixed(0));
		}
		
		
		
		
		
		//delinquincies
			var m2 = topojson.feature(us,us.objects.states).features;
		m2 = m2.filter(d=>eqMap2[stateMap[d.properties.name]]!=null);
		
		
		var buckets2 = 6;
		
		var scaleDelinq = d3.scaleLinear().domain(d3.extent(loans_delinq,d=>d["Q4_2019"])).range([0,buckets2-1]);
		var hues2 = d3.schemeReds[buckets2];
		
					var renderTip2 = function(d) {
				d = eqMap2[stateMap[d.properties.name]];
		return `State: ${d.state}<br/>Stu. Debt Delinq.: ${d['Q4_2019']}%`;
	}
	
	var tip2 = d3.tip().attr("class","tip").html(renderTip2);
		
		
	var states2 = 	svg.append("g")
		.attr("class","states")
		.attr("id","states2");
		
		states2.selectAll("path")
		.data(m2).enter()
		.append("path")
		.attr("fill",d=>{
		  var q = eqMap2[stateMap[d.properties.name]];
		  return hues2[Math.floor(scaleDelinq(q["Q4_2019"]))];
					  })
	  .attr("class",d=>d.properties.name)
	  .attr("d",path)
	  .call(tip2)
	  .on('mouseover',tip2.show)
	  .on('mouseout',tip2.hide);
		
		var legend2 = states2.append("g").attr("transform",`translate(${width/2},${height-150})`);
		for(var i = 0;i<buckets2;i++) {
			legend2.append("rect").attr("x",i*50).attr("y",50).attr("width",50).attr("height",10)
			.style("fill",hues2[i]);
			legend2.append("text").attr("x",i*50).attr("y",70).attr("font-size","10pt").attr("text-anchor","middle")
			.text(scaleDelinq.invert(i).toFixed(2)+(i==0?"%":""));
		}
		
	
		
	svg.selectAll(".Alaska").attr("transform",`translate(${width*0.2},${height*0.85}),scale(0.5)`);
	svg.selectAll(".Hawaii").attr("transform",`translate(${width},${height*0.35})`);
		
		svg.select("#states2").style("display","none");
	
		
		
	

		
		svg.append("text")
		.attr("text-anchor","middle")
		.attr("x",width/2)
		.attr("y",50)
		.attr("font-size","14pt")
		.text("Student Loans");
		
		var subtitle = 	svg.append("text")
		.attr("text-anchor","middle")
		.attr("x",width/2)
		.attr("y",75)
		.attr("font-size","12pt")
		.text("Student Loan Debt per Capita");
		
		var showMap = 0;
		
		var wheelDelta = 0;
		document.body.onwheel = function(e) {
			e.preventDefault();
			wheelDelta += e.deltaY;
			if(Math.abs(wheelDelta)<3) return;
			wheelDelta = 0;
			showMap = (showMap+1) % 2;
			var hide = showMap==0 ? "#states2" : "#states";
			var show = showMap==0 ? "#states" : "#states2";
			svg.select(hide).style("display","none");
			svg.select(show).style("display","block");
			var st = showMap == 0 ? "Student Loan Debt per Capita" : "Student Loan Delinquency Rate";
			subtitle.text(st);
			
		}
			
		
	});
	
	
	



</script>
</body>
</html>