<html>
<head>
	<meta charset='utf-8' />
	<title>GDP</title>
	<script src="../lib/d3.v5.min.js"></script>
	<script src="../lib/topojson.v2.min.js"></script>
	<script src="../lib/d3-scale-chromatic.v1.min.js"></script>
	<script src="../lib/d3-simple-slider.min.js"></script>
	<script src="../lib/d3-tip.min.js"></script>
	<link rel='stylesheet' href='../../../css/styles.css'>
	<style>
	.states path {
  stroke: #ffffff;
  stroke-linejoin: round;
}
		
	
		
	</style>
</head>
<body>
	<span class="description">Use the scroll wheel to zoom. Use A/D to move along the line.</span>&nbsp;&nbsp;&nbsp;"Real" GDP in 1984 $ <input id="gdpCheck" type="checkbox" onchange="gdpToggle(event)"/>
<script>


	
	var margin = {top: 50, right: 150, bottom: 100, left: 75};
	var width = 700 - margin.left - margin.right,
    height = 600 - margin.top - margin.bottom;
	
	
	
	

	
	var dateParse = d3.timeParse("%m/%d/%Y");
	
	var gdpParse = function(d) {
		d.date = dateParse(d.date);
		d.gdp = parseFloat(d.gdp)/1000;
		d.real_gdp = parseFloat(d.real_gdp)/1000;
		d.cpi = parseFloat(d.cpi);
		return d;
		
	}
	

	
	

	var promises = [d3.csv('data/real_gdp.csv',gdpParse)];
	var gdpToggle = null;
	
	Promise.all(promises).then(function([gdp]) {

		
		var real = document.getElementById("gdpCheck").checked;

		var base = d3.select("body").insert("svg",".description")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
	.style("display","block")
	//.style("cursor","none")

		
	var xScale,yScale
	var gdp_filt = gdp;
		
		var genLine = function() {
	var svg	= base
 	.insert("g",".info")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
			
		
		
		xScale = d3.scaleTime().domain(d3.extent(gdp_filt,d=>d.date)).range([0,width]);
		var years = d3.extent(gdp_filt,d=>d.date.getFullYear());
			yScale = years[1]-years[0]<=20 ? d3.scaleLinear() : d3.scaleLog();
			yScale.domain(d3.extent(gdp_filt,d=>real?d.real_gdp:d.gdp)).range([height,0]);
			
		
	
	
		
			var line = d3.line()
		.x(function(d, i) { return xScale(d.date); }) // set the x values for the line generator
		.y(function(d) { return yScale(real?d.real_gdp:d.gdp); }) // set the y values for the line generator 
		.curve(d3.curveMonotoneX) // apply smoothing to the line
		
		svg.append("path")
		.attr("class","line")
		.attr("stroke","white")
		.attr("fill","none")
		.datum(gdp_filt) // 10. Binds data to the line 
		.attr("d", line); // 11. Calls the line generator 
		
		svg.append("g").call(d3.axisLeft(yScale).tickFormat(d3.format(",.1f")));
	svg.append("g")
		.attr("transform", "translate(0," + height + ")")
		.call(d3.axisBottom(xScale));
			
			svg.append("text").text("$ (Trillions)").attr("x",-50).attr("y",-10).attr("font-size","10pt").attr("color","white");
			
			
		return svg;
	}
		

		
		
	
		base.append("text")
		.attr("x",margin.left+width/2)
		.attr("y",50)
		.attr("text-anchor","middle")
		.attr("font-size","18pt")
		.text("U.S. GDP");
		
		var info = base.append("g")
		.attr("class","info").style("display","none");
		
			info.append("circle")
		.attr("class","pointer")
		.attr("fill","rgba(255,0,0,0.6)")
		.attr("stroke","none")
		.attr("r",4).attr("cx",0).attr("cy",0);
		
		info.append("rect").attr("x",4).attr("y",0).attr("width",200).attr("height",75).attr("fill","rgba(0,0,0,0.5)");
		info.append("text").attr("class","t1");
		info.append("text").attr("class","t2");
		info.append("text").attr("class","t3");
		
				var svg = genLine();
		
		var infoIndex = 0;
		
		var updateInfo = function() {
			var point = gdp[infoIndex];
			var prevPoint = gdp[infoIndex-1];
		
							var x = xScale(point.date)+margin.left;
							var y = yScale(real?point.real_gdp:point.gdp)+margin.top;

			base.select(".info").style("display","block").attr("transform",`translate(${x},${y})`)
			base.select(".t1").attr("x",5).attr("y",20).text(
				`GDP: $${(real?point.real_gdp:point.gdp).toLocaleString()}T`);
			base.select(".t2").attr("x",5).attr("y",35).text(
			`Date: ${d3.timeFormat("%B %Y")(point.date)}`);
			var type = real ? "real_gdp" : "gdp";				
			base.select(".t3").attr("x",5).attr("y",50).text("Qtr. Change: "+(prevPoint?
			`${((point[type]-prevPoint[type])/prevPoint[type]*100).toFixed(2)}%`:"N/A"));
		}
		
						var scanChart = function(e) {
			var date = xScale.invert(e.x-margin.left)
			var yearData = gdp_filt.filter(d=>Math.abs(d.date.getFullYear()-date.getFullYear())<=1);
			if(yearData.length==0) return;
			var mDiff = yearData.map(d=>Math.abs(d.date.valueOf()-date.valueOf()));

			var minDiff = mDiff.reduce((a,b)=>Math.min(a,b));
			var pointIndex = mDiff.indexOf(minDiff);
			var point = yearData[pointIndex];
			infoIndex = gdp.indexOf(point);
			updateInfo();
		}
		
			base.node().onmousemove = scanChart;

		
		
		var startYear = d3.min(gdp,d=>d.date).getFullYear();
		var endYear = d3.max(gdp,d=>d.date).getFullYear();
		var minYear = startYear;
		
			
		var wheelDelta = 0;
		
		var zoom = function(dir) {
			svg.remove();
			var jumpSize = Math.max(Math.floor(Math.log1p(endYear-minYear)),1);
		minYear = Math.min(Math.max(startYear,minYear+dir*jumpSize),endYear);
		gdp_filt = gdp.filter(d=>d.date.getFullYear()>=minYear);
		svg = genLine();
		}
		
		document.body.onwheel = function(e) {
			e.preventDefault();
			if(minYear==startYear && e.deltaY > 0) return;
			if(minYear==endYear && e.deltaY < 0) return;
			wheelDelta += e.deltaY;
			if(Math.abs(wheelDelta)<3) return;
		var dir = -Math.sign(wheelDelta);
			wheelDelta = 0;
		zoom(dir);
					scanChart(e);
			
	}
		
		document.body.onkeypress = function(e) {
			if(infoIndex > 0 && (e.keyCode==37 || e.key=='a')) {
				infoIndex--;
				if(gdp[infoIndex].date.getFullYear() < minYear) zoom(-1);
				updateInfo();
			}
			else if(infoIndex < gdp.length-1  && (e.keyCode==39 || e.key=='d')) {
				infoIndex++;
				updateInfo();
			}
		}
		
	 gdpToggle = function(e) {
			real = e.target.checked;
		 	svg.remove();
			svg = genLine();
			updateInfo();
		}
	
		
		
	});
	
	
		
	



</script>
</body>
</html>