<div class="container main-container">
	<div ng-if="marketData">Economic data last updated: {{parseDate(marketData.Date)}}</div>
    <div class="row col-md-12 chart-button-row">
        <div class="col-md-3 well chart-button chart-button-top chart-button-gdp" ng-click="chart=0" ng-class="{'activeChart':chart==0}">
            <div class="chart-button-row-body">
                <h2>GDP ($ Trillions)</h2>
                <h2>{{marketData.GDP.toFixed(1)}}</h2>
            </div>
        </div>
        <div class="col-md-3 well chart-button chart-button-top chart-button-student-debt" ng-click="chart=1" ng-class="{'activeChart':chart==1}">
            <div class="chart-button-row-body">
                <h2>Student Debt  ($ Trillions)</h2>
                <h2>{{marketData.StudentDebt.toFixed(1)}}</h2>
            </div>
        </div>
        <div class="col-md-3 well chart-button chart-button-top chart-button-household-debt" ng-click="chart=2" ng-class="{'activeChart':chart==2}">
            <div class="chart-button-row-body">
                <h2>Household Debt ($ Trillions)</h2>
                <h2>{{marketData.HouseholdDebt.toFixed(1)}}</h2>
            </div>
        </div>
	</div>
	<div class="row col-md-12 chart-button-row">
        <div class="col-md-8 well chart-well">
            <div class="chart-well-header">
                <div class="chart-well-head-row">
                    <div class="chart-well-title"><span ng-show="chart==0">Gross Domestic Product</span>
						<span ng-show="chart==1">Student Loans</span>
						<span ng-show="chart==2">Household Debt</span> | Chart</div>
                    <div class="chart-well-tools">
                        <a href="#/landingPage" ng-click="exportSVG()" class="btn chart-tool">
                            <span class="btn-label">
                                <i class="fa fa-pencil"></i>
                            </span>
                            Export
                        </a>
                        <a href="#/landingPage" ng-click="print()" class="btn chart-tool">
                            <span class="btn-label">
                                <i class="fa fa-print"></i>
                            </span>
                            Print
                        </a>
                    </div>
                </div>
            </div>
            <div class="chart-button-row-body">
                <iframe width="760" height="650" src="resources/js/views/time_series" ng-show="chart==0" scrolling="no"></iframe>
                <iframe width="760" height="650" src="resources/js/views/student_loans" ng-show="chart==1" scrolling="no" ></iframe>
                <iframe width="760" height="650" src="resources/js/views/household_debt" ng-show="chart==2" scrolling="no"></iframe>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="row well chart-button chart-button-prediction" ng-class="{'predictSuccess':respSuccess}">
                <div class="chart-button-row-body">
                    <h2>Prediction ($Trillions)</h2>
                    <h2 ng-hide="result==''" ng-style="resStyle">{{(result) | currency : "" : 3}}</h2>
                </div>
            </div>
            <div class="row well chart-button chart-button-prediction">
                <div class="input-variable-header">
                    <h1 class="input-variable-header-title">Input Variables</h1>
                </div>
                <div class="row register-form">
					<form ng-submit="LinReg()">
                    <div class="col-md-12">
                        <div class="form-group input-variable">
                            <h2>Unemployment Rate (%)</h2>
                            <input ng-change="dirty()" ng-model="unemp" type="number" min=0 step=0.1 max=100 required class="form-control" placeholder="Unemployment Rate *" value="" />
                        </div>
                        <div class="form-group input-variable">
                            <h2>Consumer Price Index (100=1984)</h2>
                            <input ng-change="dirty()" ng-model="cpi" type="number"  min=0 max=500 step=0.001 required class="form-control" placeholder="CPI *" value="" />
                        </div>
						<div class="form-group input-variable">
                            <h2>Producer Price Index (100=1982)</h2>
                            <input ng-change="dirty()" ng-model="ppi" type="number"  min=0 max=500 step=0.001 required class="form-control" placeholder="PPI *" value="" />
                        </div>
						  <div class="form-group input-variable">
                            <h2>Rent Price Index (100=Dec. 1982)</h2>
                            <input ng-change="dirty()" ng-model="consumerRent" type="number"  min=0 max=1000 step=0.001 required class="form-control" placeholder="Rent Price Index *" value="" />
                        </div>
                        <div class="form-group input-variable">
                            <h2>Home Price Index (100=Jan. 2000)</h2>
                            <input ng-change="dirty()" ng-model="caseShiller" type="number" min=0 max=1000 step=0.001 required class="form-control" placeholder="Case Shiller Index *" value="" />
                        </div>
						<div class="form-group input-variable">
                            <h2>Fed 3 Month Yield (%)</h2>
                            <input ng-change="dirty()" ng-model="fed3M" type="number" min=-10 max=15 step=0.01 required class="form-control" placeholder="Fed 3 Month Yield *" value="" />
                        </div>
                        <div class="form-group input-variable">
                            <h2>Fed 10 Year Yield (%)</h2>
                            <input ng-change="dirty()" ng-model="fed10Y" type="number" min=-10 max=15 step=0.01 required class="form-control" placeholder="Fed 10 Year Yield *" value="" />
                        </div>
						   <div class="form-group input-variable">
                            <h2>Fed 30 Year Yield (%)</h2>
                            <input ng-change="dirty()" ng-model="fed30Y" type="number" min=-10 max=15 step=0.01 required class="form-control" placeholder="Fed 30 Year Yield *" value="" />
                        </div>
						  <div class="form-group input-variable">
                            <h2>German 10 Year Yield (%)</h2>
                            <input ng-change="dirty()" ng-model="ger10Y" type="number" min=-10 max=25 step=0.01 required class="form-control" placeholder="German 10 Year Yield *" value="" />
                        </div>
                        <input type="submit" class="btn btn-block btn-primary" value="Send">
                    </div>
					</form>
            </div>
        </div>
        
    </div>

</div>
</div>
<form name="export" action="/export" method="post">
<input type="hidden" name="fname" />
<input type="hidden" name="data" />
</form>